.task-lists-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px 0;
}

.task-list {
  width: 30%;
  min-width: 300px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.task-list label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  transition: background-color 0.3s ease;
}

li {
  cursor: move;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

li:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.cdk-drop-list-dragging li {
  opacity: 0.6;
  transform: scale(1.02);
}

input[type="text"] {
  width: calc(100% - 120px);
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

button {
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

div {
  margin-bottom: 20px;
}


.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #4CAF50;
  font-size: 1.1rem;
  margin-left: 10px;
  padding: 5px;
  transition: color 0.3s ease;
}

.icon-button:hover {
  color: #45a049;
}

.icon-button.delete {
  color: #f44336;
}

.icon-button.delete:hover {
  color: #d32f2f;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
}

button:focus {
  outline: none;
}

button:nth-child(1) {
  background-color: #ccc;
}

button:nth-child(2) {
  background-color: #4CAF50;
  color: white;
}
